<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form name="login" action="index.html" method="post">

  아이디확인<br>
  <input type="text" name="user_ID" placeholder="아이디 입력" >
  <input type="button" name="user_IDcheck" value="아이디 확인">
  <br>
  비밀번호<br>
  <input type="password" name="user_PW1" value=""><br>
  비밀번호 재확인<br>
  <input type="password" name="user_PW2" value="">
  <input type="button" name="user_PWcheck" value="비밀번호 재확인">
  <a href="Login">회원가입</a>
</form>
</body>
</html>